span {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
span {
  display: flex;
  margin-left: 90%;
}
button {
  height: 40px;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}
body {
  background: #ee7e63;
}
li:hover {
  background-color: #ee7e63;
  color: #fff;
}
span:hover {
  color: #ee7e63;
}
